    /* Remove the navbar's default rounded borders and increase the bottom margin */

    .navbar{
      background-color: #343a40;
    }
    .navbar-brand, .nav-link{
        color: #FAF6F0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
      background-color: #FAF6F0;
      color: #343a40
    }

    .circle {
        background: #F72798;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .color-table{
        background-color: #FAF6F0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #343a40;
      padding: 25px;
      color: #FAF6F0;
    }