
.navbar{
    background-color: #343a40;
}
.navbar-brand, .nav-link{
    color: #FAF6F0;
}
.text-title{
    color:#ffffff;
    font-size:6em;
}

.jumbotron {
    margin-bottom: 0;
}

.color-table{
    background-color: #FAF6F0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

footer {
  background-color: #343a40;
  padding: 25px;
  margin-top: auto;
  color: #FAF6F0;
}
