{% include "header.html" %}


<div class="container px-4 py-5">
  <!--Título-->
  <h2 class="pb-2 border-bottom">Tareas</h2>

  {% if current_user.is_authenticated %}
  <div class="table-responsive large px-5 py-5">
        <table class="table table-borderless align-middle table-sm">

          <thead>
            <tr>
              <th scope="col">Tarea</th>
              <th scope="col">Descripción</th>
              <th scope="col">Duración</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Modificar</th>
              <th scope="col"> Eliminar</th>
              <th scope="col"><abbr title="Pendiente: click para completar "> Estado</abbr></th>
            </tr>
          </thead>

          <tbody>
          {% for task in todo_list %}
            <tr>
              <th scope="row">{{ task.name_task }}</th>
              {% if task.description_task %}
              <td>{{ task.description_task }}</td>
              {% else %}
              <td> </td>
              {% endif %}
              {% if task.duration_task %}
              <td>{{ task.duration_task }}</td>
              {% else %}
              <td> </td>
              {% endif %}
              {% if task.date_task %}
              <td>{{ task.date_task }}</td>
              {% else %}
              <td> </td>
              {% endif %}
              {% if task.time_task %}
              <td>{{ task.time_task }}</td>
              {% else %}
              <td> </td>
              {% endif %}
                {% if task.check_task == False: %}
                <td><a class="btn" href="{{ url_for('edit_task', task=task.id) }}" role="button">✏️</a></td>
                <td><a class="btn" href="{{ url_for('delete_task', task=task.id) }}" role="button">🗑️</a></td>
                <td><a class="btn btn-light btn-sm" href="{{ url_for('update', task=task.id) }}" role="button">Pendiente</a></td>
                {% else: %}
                <td><button class="btn" disabled style="border-color: transparent;" >✏️</button></td>
                <td><button class="btn" disabled style="border-color: transparent;" >🗑️</button></td>
                <td><button class="btn btn-success btn-sm " disabled>Completa</button></td>
                {% endif %}
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    <a class="btn btn-secondary" href="{{ url_for('register') }}" role="button">Nueva Tarea</a>
  {% endif %}
</div>


{% include "footer.html" %}
